idol-secure-setup/nifi-secure-image/nifi-persistent-volumes/conf/templates/Basic_Ingest_Flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>An ingest flow representing the core Connector Framework Server behaviour:

- IDX/XML document parsing
- KeyView Extraction
- KeyView Filtering
- Metadata standardization
- IDOL Indexing
- Clean up of temp files</description>
    <groupId>c2875471-017d-1000-a034-2e90a31d0d17</groupId>
    <name>Basic Ingest Flow</name>
    <snippet>
        <connections>
            <id>0f252cb2-31c4-330f-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>73dde88f-6adb-323e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>c47c6ecc-658a-38a5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>140b5a22-c1cf-3090-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>18100662-185e-3119-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>e180ad2a-2320-306c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1e571014-0e18-3ebe-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>c47c6ecc-658a-38a5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>c7146eab-0c4c-33ea-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>329ae379-b395-30a7-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1293.5890942376636</x>
                <y>872.0712792125353</y>
            </bends>
            <bends>
                <x>1300.5890942376636</x>
                <y>1328.3301293101915</y>
            </bends>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>73dde88f-6adb-323e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>remove</selectedRelationships>
            <selectedRelationships>update</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>7c44e738-bd35-37ed-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>472a8226-3346-36c1-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>18100662-185e-3119-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>7c44e738-bd35-37ed-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4835a65d-7409-3bf0-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>8bff91ac-d3dc-3e0b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>9d4f4dea-41bd-3aa5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>48464824-1b88-390d-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                <id>3fc74e12-a09c-37cf-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>747a8685-0fdd-3bf2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5f7c1d76-e54a-3c10-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>283a5d6e-75b0-365e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>73dde88f-6adb-323e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>61db2f10-d22b-3565-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>747a8685-0fdd-3bf2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>4fc9994c-c094-3642-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>677008de-87c5-3ddc-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1160.0</x>
                <y>936.0</y>
            </bends>
            <bends>
                <x>928.0</x>
                <y>792.0</y>
            </bends>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>1c1de62b-b79e-38cd-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>subfile</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>e180ad2a-2320-306c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7eca194f-b7dc-36c0-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>18100662-185e-3119-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                <id>5f0fe36e-a692-362b-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>855ea7d5-dd35-3271-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>e180ad2a-2320-306c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <prioritizers>org.apache.nifi.prioritizer.PriorityAttributePrioritizer</prioritizers>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>1c1de62b-b79e-38cd-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>93c9c58c-eb32-3fb8-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>2 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>100000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>ad5e4396-d801-3c75-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>18100662-185e-3119-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9e15be40-2894-3576-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>5 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>100000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>9d4f4dea-41bd-3aa5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>283a5d6e-75b0-365e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a5932a37-db87-339f-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>c7146eab-0c4c-33ea-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>e180ad2a-2320-306c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d09f3461-3f72-367b-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>7c44e738-bd35-37ed-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                <id>d4b41ae8-5686-3bb4-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d3cbd798-ae5f-3bb3-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>18100662-185e-3119-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>73dde88f-6adb-323e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ee1bd081-b64a-3960-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>18100662-185e-3119-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>c47c6ecc-658a-38a5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ee734c57-4c2e-333d-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>18100662-185e-3119-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>c7146eab-0c4c-33ea-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f09409ae-1dda-3560-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>1c1de62b-b79e-38cd-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>add</selectedRelationships>
            <source>
                <groupId>17e33a47-4a99-3623-0000-000000000000</groupId>
                <id>7c44e738-bd35-37ed-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>c8730a11-abfc-3e22-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>KeyViewDirectory</key>
                    <value>
                        <name>KeyViewDirectory</name>
                    </value>
                </entry>
                <entry>
                    <key>FileStorageDirectory</key>
                    <value>
                        <name>FileStorageDirectory</name>
                    </value>
                </entry>
            </descriptors>
            <name>KeyViewFilterService (From Basic_Ingest_Flow Template)</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>KeyViewDirectory</key>
                    <value>${'KEYVIEW_DIRECTORY'}</value>
                </entry>
                <entry>
                    <key>FileStorageDirectory</key>
                    <value>${idol.repository.files.storage.dir}</value>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>idol.nifi.service.KeyViewFilterServiceImpl</type>
        </controllerServices>
        <controllerServices>
            <id>cd23b174-319f-3c27-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>DocumentRegistryDirectory</key>
                    <value>
                        <name>DocumentRegistryDirectory</name>
                    </value>
                </entry>
                <entry>
                    <key>DatabaseService</key>
                    <value>
                        <identifiesControllerService>idol.nifi.service.DatabaseService</identifiesControllerService>
                        <name>DatabaseService</name>
                    </value>
                </entry>
            </descriptors>
            <name>DocumentRegistryService (From Basic_Ingest_Flow Template)</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>DocumentRegistryDirectory</key>
                    <value>idol_repository</value>
                </entry>
                <entry>
                    <key>DatabaseService</key>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>idol.nifi.service.DocumentRegistryServiceImpl</type>
        </controllerServices>
        <funnels>
            <id>1c1de62b-b79e-38cd-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>824.0</x>
                <y>768.0</y>
            </position>
        </funnels>
        <inputPorts>
            <id>4fc9994c-c094-3642-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>728.0</x>
                <y>0.0</y>
            </position>
            <allowRemoteAccess>true</allowRemoteAccess>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>Input From Connector</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>INPUT_PORT</type>
        </inputPorts>
        <outputPorts>
            <id>ad5e4396-d801-3c75-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>48.0</x>
                <y>1136.0</y>
            </position>
            <allowRemoteAccess>true</allowRemoteAccess>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>Failures</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <processGroups>
            <id>66cc0640-41d6-38cc-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>656.0</x>
                <y>336.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0cda4626-3239-30e5-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>5f0fe36e-a692-362b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>e5cfbf25-f2d9-3827-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>15e7544a-0683-3f4f-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>5c111e51-4b04-34ba-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>3fc74e12-a09c-37cf-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>924bb9ab-e894-3a0d-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>e5cfbf25-f2d9-3827-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unprocessed</selectedRelationships>
                    <source>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>5c111e51-4b04-34ba-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>95d8c5d8-8184-3cc2-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>d4b41ae8-5686-3bb4-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>extracted</selectedRelationships>
                    <source>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>5c111e51-4b04-34ba-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b13515e1-8cad-30e2-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>d4b41ae8-5686-3bb4-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>extracted</selectedRelationships>
                    <selectedRelationships>unprocessed</selectedRelationships>
                    <source>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>e5cfbf25-f2d9-3827-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fbd07574-70d1-350c-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>5f0fe36e-a692-362b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>66cc0640-41d6-38cc-0000-000000000000</groupId>
                        <id>5c111e51-4b04-34ba-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>3fc74e12-a09c-37cf-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-201.5112173078956</x>
                        <y>39.14722144090612</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>In</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>5f0fe36e-a692-362b-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-492.59052101437055</x>
                        <y>352.72222842891006</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Failures</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>d4b41ae8-5686-3bb4-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <position>
                        <x>163.85029928614995</x>
                        <y>352.72222842891006</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Out</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>5c111e51-4b04-34ba-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-256.5112173078956</x>
                        <y>144.11870213606323</y>
                    </position>
                    <bundle>
                        <artifact>idol-nifi-framework</artifact>
                        <group>idol.nifi</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>IdolLicenseService</key>
<value>
    <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
    <name>IdolLicenseService</name>
</value>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
<value>
    <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
    <name>DocumentRegistryService</name>
</value>
                            </entry>
                            <entry>
<key>CommitBatchSize</key>
<value>
    <name>CommitBatchSize</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>IdolLicenseService</key>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
<value>cd23b174-319f-3c27-0000-000000000000</value>
                            </entry>
                            <entry>
<key>CommitBatchSize</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>IDXToDocsProcessor</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>extracted</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>processed</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unprocessed</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>idol.nifi.processor.ConvertIDXToDocuments</type>
                </processors>
                <processors>
                    <id>e5cfbf25-f2d9-3827-0000-000000000000</id>
                    <parentGroupId>66cc0640-41d6-38cc-0000-000000000000</parentGroupId>
                    <position>
                        <x>-256.5112173078956</x>
                        <y>475.7616036933223</y>
                    </position>
                    <bundle>
                        <artifact>idol-nifi-framework</artifact>
                        <group>idol.nifi</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>IdolLicenseService</key>
<value>
    <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
    <name>IdolLicenseService</name>
</value>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
<value>
    <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
    <name>DocumentRegistryService</name>
</value>
                            </entry>
                            <entry>
<key>CommitBatchSize</key>
<value>
    <name>CommitBatchSize</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>IdolLicenseService</key>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
<value>cd23b174-319f-3c27-0000-000000000000</value>
                            </entry>
                            <entry>
<key>CommitBatchSize</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>XMLToDocsProcessor</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>extracted</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>processed</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unprocessed</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>idol.nifi.processor.ConvertXMLToDocuments</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Split IDX / XML</name>
            <variables/>
        </processGroups>
        <processors>
            <id>18100662-185e-3119-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>896.0</y>
            </position>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>DocumentRegistryService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
                            <name>DocumentRegistryService</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>DocumentRegistryService</key>
                        <value>cd23b174-319f-3c27-0000-000000000000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UnregisterDocument</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>idol.nifi.processor.UnregisterDocument</type>
        </processors>
        <processors>
            <id>283a5d6e-75b0-365e-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>676.2601442516943</x>
                <y>1670.0507646395258</y>
            </position>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>DocumentRegistryService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
                            <name>DocumentRegistryService</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>DocumentRegistryService</key>
                        <value>cd23b174-319f-3c27-0000-000000000000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UnregisterDocument</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>idol.nifi.processor.UnregisterDocument</type>
        </processors>
        <processors>
            <id>73dde88f-6adb-323e-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>676.2601442516943</x>
                <y>1465.7898978154</y>
            </position>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>IdolLicenseService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
                            <name>IdolLicenseService</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Host</key>
                        <value>
                            <name>Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>
                            <name>Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSLConfigService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.IdolSslConfigService</identifiesControllerService>
                            <name>SSLConfigService</name>
                        </value>
                    </entry>
                    <entry>
                        <key>DocumentRegistryService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
                            <name>DocumentRegistryService</name>
                        </value>
                    </entry>
                    <entry>
                        <key>BatchSize</key>
                        <value>
                            <name>BatchSize</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CompressIndexFiles</key>
                        <value>
                            <name>CompressIndexFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CreateDatabase</key>
                        <value>
                            <name>CreateDatabase</name>
                        </value>
                    </entry>
                    <entry>
                        <key>DefaultDatabaseName</key>
                        <value>
                            <name>DefaultDatabaseName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>GssServiceName</key>
                        <value>
                            <name>GssServiceName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IndexInterval</key>
                        <value>
                            <name>IndexInterval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IndexOverSocket</key>
                        <value>
                            <name>IndexOverSocket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IndexPriority</key>
                        <value>
                            <name>IndexPriority</name>
                        </value>
                    </entry>
                    <entry>
                        <key>KeepExisting</key>
                        <value>
                            <name>KeepExisting</name>
                        </value>
                    </entry>
                    <entry>
                        <key>KillDuplicates</key>
                        <value>
                            <name>KillDuplicates</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ReplaceAllRefs</key>
                        <value>
                            <name>ReplaceAllRefs</name>
                        </value>
                    </entry>
                    <entry>
                        <key>UseXmlIndexing</key>
                        <value>
                            <name>UseXmlIndexing</name>
                        </value>
                    </entry>
                    <entry>
                        <key>XmlDocumentTag</key>
                        <value>
                            <name>XmlDocumentTag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>XmlRootTag</key>
                        <value>
                            <name>XmlRootTag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IdxUseXmlSafeFieldValues</key>
                        <value>
                            <dependencies>
<dependentValues>False</dependentValues>
<propertyName>UseXmlIndexing</propertyName>
                            </dependencies>
                            <name>IdxUseXmlSafeFieldValues</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>5 min</penaltyDuration>
                <properties>
                    <entry>
                        <key>IdolLicenseService</key>
                    </entry>
                    <entry>
                        <key>Host</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>SSLConfigService</key>
                    </entry>
                    <entry>
                        <key>DocumentRegistryService</key>
                        <value>cd23b174-319f-3c27-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>BatchSize</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>CompressIndexFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>CreateDatabase</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>DefaultDatabaseName</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>GssServiceName</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>IndexInterval</key>
                        <value>60 sec</value>
                    </entry>
                    <entry>
                        <key>IndexOverSocket</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>IndexPriority</key>
                    </entry>
                    <entry>
                        <key>KeepExisting</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>KillDuplicates</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>ReplaceAllRefs</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>UseXmlIndexing</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>XmlDocumentTag</key>
                        <value>DOCUMENT</value>
                    </entry>
                    <entry>
                        <key>XmlRootTag</key>
                        <value>DOCUMENTS</value>
                    </entry>
                    <entry>
                        <key>IdxUseXmlSafeFieldValues</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutIDOL</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>idol.nifi.processor.PutIDOL</type>
        </processors>
        <processors>
            <id>747a8685-0fdd-3bf2-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>672.0</x>
                <y>120.0</y>
            </position>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>DocumentRegistryService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
                            <name>DocumentRegistryService</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>DocumentRegistryService</key>
                        <value>cd23b174-319f-3c27-0000-000000000000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RegisterDocument</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>idol.nifi.processor.RegisterDocument</type>
        </processors>
        <processors>
            <id>7c44e738-bd35-37ed-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>672.0</x>
                <y>568.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>add</key>
                        <value>
                            <name>add</name>
                        </value>
                    </entry>
                    <entry>
                        <key>remove</key>
                        <value>
                            <name>remove</name>
                        </value>
                    </entry>
                    <entry>
                        <key>update</key>
                        <value>
                            <name>update</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>add</key>
                        <value>${idol.reference.action:equalsIgnoreCase('add')}</value>
                    </entry>
                    <entry>
                        <key>remove</key>
                        <value>${idol.reference.action:equalsIgnoreCase('remove')}</value>
                    </entry>
                    <entry>
                        <key>update</key>
                        <value>${idol.reference.action:equalsIgnoreCase('update')}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnReferenceAction</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>add</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>remove</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>update</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>8bff91ac-d3dc-3e0b-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>677.7758913220068</x>
                <y>2079.6696436211655</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>counter-name</key>
                        <value>
                            <name>counter-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>delta</key>
                        <value>
                            <name>delta</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>counter-name</key>
                        <value>Done</value>
                    </entry>
                    <entry>
                        <key>delta</key>
                        <value>1</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateCounter</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.UpdateCounter</type>
        </processors>
        <processors>
            <id>9d4f4dea-41bd-3aa5-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>674.3531301180146</x>
                <y>1878.70677354179</y>
            </position>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>RemoveContent</key>
                        <value>
                            <name>RemoveContent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>RemoveContentFile</key>
                        <value>
                            <name>RemoveContentFile</name>
                        </value>
                    </entry>
                    <entry>
                        <key>RemoveContentFilename</key>
                        <value>
                            <name>RemoveContentFilename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>RemoveExternalFile</key>
                        <value>
                            <name>RemoveExternalFile</name>
                        </value>
                    </entry>
                    <entry>
                        <key>RemoveXmlMetadata</key>
                        <value>
                            <name>RemoveXmlMetadata</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>RemoveContent</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>RemoveContentFile</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>RemoveContentFilename</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>RemoveExternalFile</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>RemoveXmlMetadata</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Remove Owned Files</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>idol.nifi.processor.RemoveDocumentPart</type>
        </processors>
        <processors>
            <id>c47c6ecc-658a-38a5-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>677.5096105864736</x>
                <y>1266.1142987352166</y>
            </position>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>IdolLicenseService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
                            <name>IdolLicenseService</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ComponentNames</key>
                        <value>
                            <name>ComponentNames</name>
                        </value>
                    </entry>
                    <entry>
                        <key>StandardizerXML</key>
                        <value>
                            <name>StandardizerXML</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>IdolLicenseService</key>
                    </entry>
                    <entry>
                        <key>ComponentNames</key>
                        <value>KeyView,${idol.doc.source:getDelimitedField(2,':')}</value>
                    </entry>
                    <entry>
                        <key>StandardizerXML</key>
                        <value>${idol.repository.storage.dir}/dictionary.xml</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>StandardizeMetadata</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>idol.nifi.processor.StandardizeMetadata</type>
        </processors>
        <processors>
            <id>c7146eab-0c4c-33ea-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>675.1114626110693</x>
                <y>1069.031926655144</y>
            </position>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>KeyViewFilterService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.KeyViewFilterService</identifiesControllerService>
                            <name>KeyViewFilterService</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IdolLicenseService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
                            <name>IdolLicenseService</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ExtractContentText</key>
                        <value>
                            <name>ExtractContentText</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ExtractFileMetadata</key>
                        <value>
                            <name>ExtractFileMetadata</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FilterTextFromMetadataXPath</key>
                        <value>
                            <name>FilterTextFromMetadataXPath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FilterTextFromHtmlMetadataXPath</key>
                        <value>
                            <name>FilterTextFromHtmlMetadataXPath</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FilteredMetadataTarget</key>
                        <value>
                            <name>FilteredMetadataTarget</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>KeyViewFilterService</key>
                        <value>c8730a11-abfc-3e22-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>IdolLicenseService</key>
                    </entry>
                    <entry>
                        <key>ExtractContentText</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>ExtractFileMetadata</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>FilterTextFromMetadataXPath</key>
                    </entry>
                    <entry>
                        <key>FilterTextFromHtmlMetadataXPath</key>
                    </entry>
                    <entry>
                        <key>FilteredMetadataTarget</key>
                        <value>original_field</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>KeyViewFilterDocument</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>idol.nifi.processor.KeyViewFilterDocument</type>
        </processors>
        <processors>
            <id>e180ad2a-2320-306c-0000-000000000000</id>
            <parentGroupId>17e33a47-4a99-3623-0000-000000000000</parentGroupId>
            <position>
                <x>675.1114626110693</x>
                <y>875.2766825363237</y>
            </position>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>KeyViewFilterService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.KeyViewFilterService</identifiesControllerService>
                            <name>KeyViewFilterService</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IdolLicenseService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
                            <name>IdolLicenseService</name>
                        </value>
                    </entry>
                    <entry>
                        <key>DocumentRegistryService</key>
                        <value>
                            <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
                            <name>DocumentRegistryService</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ExtractNewFlowFiles</key>
                        <value>
                            <name>ExtractNewFlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ExtractedFilePartType</key>
                        <value>
                            <name>ExtractedFilePartType</name>
                        </value>
                    </entry>
                    <entry>
                        <key>InheritedFieldsRegex</key>
                        <value>
                            <name>InheritedFieldsRegex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>NotInheritedFieldsRegex</key>
                        <value>
                            <name>NotInheritedFieldsRegex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MergeMails</key>
                        <value>
                            <name>MergeMails</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>KeyViewFilterService</key>
                        <value>c8730a11-abfc-3e22-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>IdolLicenseService</key>
                    </entry>
                    <entry>
                        <key>DocumentRegistryService</key>
                        <value>cd23b174-319f-3c27-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>ExtractNewFlowFiles</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>ExtractedFilePartType</key>
                        <value>match_input</value>
                    </entry>
                    <entry>
                        <key>InheritedFieldsRegex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>NotInheritedFieldsRegex</key>
                        <value></value>
                    </entry>
                    <entry>
                        <key>MergeMails</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>KeyViewExtractFiles</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>subfile</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>idol.nifi.processor.KeyViewExtractFiles</type>
        </processors>
    </snippet>
    <timestamp>03/30/2022 12:34:29 BST</timestamp>
</template>
