idol-secure-setup/nifi-secure-image/nifi-persistent-volumes/conf/templates/Universal_Redaction.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Replaces the file in Flow File Documents with an image render of the document, with all PII redacted.</description>
    <groupId>50f79142-0172-1000-b35e-4777d2cd2706</groupId>
    <name>Universal Redaction</name>
    <snippet>
        <controllerServices>
            <id>003133d1-7fb2-3a7f-0000-000000000000</id>
            <parentGroupId>5def1dba-4717-3289-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>KeyViewDirectory</key>
                    <value>
                        <name>KeyViewDirectory</name>
                    </value>
                </entry>
                <entry>
                    <key>FileStorageDirectory</key>
                    <value>
                        <name>FileStorageDirectory</name>
                    </value>
                </entry>
            </descriptors>
            <name>KeyViewFilterServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>KeyViewDirectory</key>
                    <value>${idol.repository.resources.dir}/KeyViewSDK</value>
                </entry>
                <entry>
                    <key>FileStorageDirectory</key>
                    <value>${idol.repository.files.storage.dir}</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>idol.nifi.service.KeyViewFilterServiceImpl</type>
        </controllerServices>
        <controllerServices>
            <id>15495e9b-f513-315d-0000-000000000000</id>
            <parentGroupId>5def1dba-4717-3289-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>KeyViewDirectory</key>
                    <value>
                        <name>KeyViewDirectory</name>
                    </value>
                </entry>
                <entry>
                    <key>FileStorageDirectory</key>
                    <value>
                        <name>FileStorageDirectory</name>
                    </value>
                </entry>
            </descriptors>
            <name>KeyViewExportServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>KeyViewDirectory</key>
                    <value>${idol.repository.resources.dir}/KeyViewSDK</value>
                </entry>
                <entry>
                    <key>FileStorageDirectory</key>
                    <value>${idol.repository.files.storage.dir}</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>idol.nifi.service.KeyViewExportServiceImpl</type>
        </controllerServices>
        <controllerServices>
            <id>a2fafcb7-47ce-3fcd-0000-000000000000</id>
            <parentGroupId>5def1dba-4717-3289-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>idol-nifi-framework</artifact>
                <group>idol.nifi</group>
                <version>25.2.0-nifi1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>LicenseServerHost</key>
                    <value>
                        <name>LicenseServerHost</name>
                    </value>
                </entry>
                <entry>
                    <key>LicenseServerPort</key>
                    <value>
                        <name>LicenseServerPort</name>
                    </value>
                </entry>
                <entry>
                    <key>SSLConfigService</key>
                    <value>
                        <identifiesControllerService>idol.nifi.service.IdolSslConfigService</identifiesControllerService>
                        <name>SSLConfigService</name>
                    </value>
                </entry>
            </descriptors>
            <name>IdolLicenseServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>LicenseServerHost</key>
                    <value></value>
                </entry>
                <entry>
                    <key>LicenseServerPort</key>
                    <value>20000</value>
                </entry>
                <entry>
                    <key>SSLConfigService</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>idol.nifi.service.IdolLicenseServiceImpl</type>
        </controllerServices>
        <processGroups>
            <id>39e6b131-142f-328c-0000-000000000000</id>
            <parentGroupId>5def1dba-4717-3289-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0d4fc2a6-61d3-32f0-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>c623e2f3-8f29-3ca0-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>ab27671b-660e-3b98-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1561e9c5-3688-3672-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1976ae85-c4a1-3475-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>13f2f875-0c41-338e-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1a592558-d6da-3b07-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>ab27671b-660e-3b98-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>85893732-f85f-353d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1f4ded1d-c528-3dc2-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1509ffbb-1d25-37c8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>826823dc-55bd-36d3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>29318a7a-c4b2-3a6e-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>4728.0</x>
                        <y>1312.0</y>
                    </bends>
                    <bends>
                        <x>4728.0</x>
                        <y>1560.0</y>
                    </bends>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>72940354-110f-3bd7-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>ef96a900-f3d3-3b22-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2c01cfd2-471a-309c-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>9fc7771d-bca9-383b-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>b9fd247b-c891-31a6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2e711f2b-79d4-3567-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>72940354-110f-3bd7-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>b9fd247b-c891-31a6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3c27de97-7bf0-3dfe-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>5e2a7cd9-0d65-3149-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1509ffbb-1d25-37c8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3ee93bbc-40b3-3403-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1d237bb2-4d2d-3688-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>85893732-f85f-353d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>42bee02d-4387-356a-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>bedc8e70-2ecb-3793-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1509ffbb-1d25-37c8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4e3e798f-2eb7-3b59-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>5432.0</x>
                        <y>152.0</y>
                    </bends>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>ab27671b-660e-3b98-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1976ae85-c4a1-3475-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>50636296-eb31-3b73-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>b9fd247b-c891-31a6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>media_redaction</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>ef96a900-f3d3-3b22-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>55b60831-ccaa-3d02-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>4656.0</x>
                        <y>640.0</y>
                    </bends>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>826823dc-55bd-36d3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>140abf4d-b316-3608-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5897401c-f3bd-3a91-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>0e7f4762-80cd-3a73-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>826823dc-55bd-36d3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>615e9735-2816-32e0-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>826823dc-55bd-36d3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1d237bb2-4d2d-3688-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6df11b92-956e-37ba-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>2c7ddc2f-47ae-3cf1-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>5e2a7cd9-0d65-3149-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>70040837-55d6-3114-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>5432.0</x>
                        <y>1616.0</y>
                    </bends>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>3728d90e-e3bb-3155-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>9fc7771d-bca9-383b-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>71205c26-d1fa-3b58-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>ef96a900-f3d3-3b22-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>bedc8e70-2ecb-3793-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8298ef22-30cc-3c82-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>4520.0</x>
                        <y>1616.0</y>
                    </bends>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>3728d90e-e3bb-3155-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>140abf4d-b316-3608-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8f36325f-ea47-3037-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>788d0619-5c25-3eee-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unknown</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1976ae85-c4a1-3475-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a5fa80c5-db37-3eed-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>85893732-f85f-353d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Document</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1976ae85-c4a1-3475-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bf52792b-9374-338a-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>0e7f4762-80cd-3a73-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>c623e2f3-8f29-3ca0-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d129c61b-0cb3-3258-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>c623e2f3-8f29-3ca0-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1d237bb2-4d2d-3688-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d2ee3c1f-2591-33f9-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>2c7ddc2f-47ae-3cf1-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>bedc8e70-2ecb-3793-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d92cde0c-f4fe-3599-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>4712.0</x>
                        <y>160.0</y>
                    </bends>
                    <bends>
                        <x>4712.0</x>
                        <y>448.0</y>
                    </bends>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1d237bb2-4d2d-3688-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>HTML</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1976ae85-c4a1-3475-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f238cd1a-5dd0-3608-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>4520.0</x>
                        <y>64.0</y>
                    </bends>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>140abf4d-b316-3608-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Image</selectedRelationships>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>1976ae85-c4a1-3475-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f9ad0bcb-dd1a-3606-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>9fc7771d-bca9-383b-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>2c7ddc2f-47ae-3cf1-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ff78c0e1-ae79-37ad-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>5e2a7cd9-0d65-3149-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>39e6b131-142f-328c-0000-000000000000</groupId>
                        <id>0e7f4762-80cd-3a73-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>b439233d-ea01-383f-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>idol-nifi-media-nar</artifact>
                        <group>idol.nifi.media</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>KeyViewService</key>
                            <value>
<identifiesControllerService>idol.nifi.service.KeyViewExportService</identifiesControllerService>
<name>KeyViewService</name>
                            </value>
                        </entry>
                        <entry>
                            <key>SpeechLanguagePackDirectory</key>
                            <value>
<name>SpeechLanguagePackDirectory</name>
                            </value>
                        </entry>
                        <entry>
                            <key>DatabaseType</key>
                            <value>
<name>DatabaseType</name>
                            </value>
                        </entry>
                        <entry>
                            <key>DatabaseService</key>
                            <value>
<identifiesControllerService>idol.nifi.service.DatabaseService</identifiesControllerService>
<name>DatabaseService</name>
                            </value>
                        </entry>
                        <entry>
                            <key>FFmpegDirectory</key>
                            <value>
<name>FFmpegDirectory</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>MediaServiceImpl</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>KeyViewService</key>
                            <value>15495e9b-f513-315d-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>SpeechLanguagePackDirectory</key>
                        </entry>
                        <entry>
                            <key>DatabaseType</key>
                        </entry>
                        <entry>
                            <key>DatabaseService</key>
                        </entry>
                        <entry>
                            <key>FFmpegDirectory</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>idol.nifi.media.service.MediaServiceImpl</type>
                </controllerServices>
                <funnels>
                    <id>0e7f4762-80cd-3a73-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>5408.0</x>
                        <y>616.0</y>
                    </position>
                </funnels>
                <funnels>
                    <id>2c7ddc2f-47ae-3cf1-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>5408.0</x>
                        <y>1000.0</y>
                    </position>
                </funnels>
                <funnels>
                    <id>5e2a7cd9-0d65-3149-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>5408.0</x>
                        <y>808.0</y>
                    </position>
                </funnels>
                <funnels>
                    <id>9fc7771d-bca9-383b-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>5408.0</x>
                        <y>1384.0</y>
                    </position>
                </funnels>
                <funnels>
                    <id>ab27671b-660e-3b98-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>5408.0</x>
                        <y>224.0</y>
                    </position>
                </funnels>
                <funnels>
                    <id>c623e2f3-8f29-3ca0-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>5408.0</x>
                        <y>424.0</y>
                    </position>
                </funnels>
                <inputPorts>
                    <id>13f2f875-0c41-338e-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4848.0</x>
                        <y>-88.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Input</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>3728d90e-e3bb-3155-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4848.0</x>
                        <y>1592.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Failure</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>72940354-110f-3bd7-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4848.0</x>
                        <y>1536.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Success</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>788d0619-5c25-3eee-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>5408.0</x>
                        <y>40.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Unprocessed</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>140abf4d-b316-3608-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4344.0</x>
                        <y>384.0</y>
                    </position>
                    <bundle>
                        <artifact>idol-nifi-media-nar</artifact>
                        <group>idol.nifi.media</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>IdolLicenseService</key>
<value>
    <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
    <name>IdolLicenseService</name>
</value>
                            </entry>
                            <entry>
<key>MediaService</key>
<value>
    <identifiesControllerService>idol.nifi.media.service.MediaService</identifiesControllerService>
    <name>MediaService</name>
</value>
                            </entry>
                            <entry>
<key>AnyOrientation</key>
<value>
    <name>AnyOrientation</name>
</value>
                            </entry>
                            <entry>
<key>Languages</key>
<value>
    <name>Languages</name>
</value>
                            </entry>
                            <entry>
<key>TextFindingMode</key>
<value>
    <name>TextFindingMode</name>
</value>
                            </entry>
                            <entry>
<key>UserDictionary</key>
<value>
    <name>UserDictionary</name>
</value>
                            </entry>
                            <entry>
<key>WordRejectionThreshold</key>
<value>
    <name>WordRejectionThreshold</name>
</value>
                            </entry>
                            <entry>
<key>RestrictCharacterTypes</key>
<value>
    <name>RestrictCharacterTypes</name>
</value>
                            </entry>
                            <entry>
<key>DisabledCharacters</key>
<value>
    <name>DisabledCharacters</name>
</value>
                            </entry>
                            <entry>
<key>ExtraEnabledCharacters</key>
<value>
    <name>ExtraEnabledCharacters</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>IdolLicenseService</key>
<value>a2fafcb7-47ce-3fcd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>MediaService</key>
<value>b439233d-ea01-383f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>AnyOrientation</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Languages</key>
<value>English</value>
                            </entry>
                            <entry>
<key>TextFindingMode</key>
<value>document</value>
                            </entry>
                            <entry>
<key>UserDictionary</key>
                            </entry>
                            <entry>
<key>WordRejectionThreshold</key>
<value>0</value>
                            </entry>
                            <entry>
<key>RestrictCharacterTypes</key>
                            </entry>
                            <entry>
<key>DisabledCharacters</key>
                            </entry>
                            <entry>
<key>ExtraEnabledCharacters</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>OpticalCharacterRecognition</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0073e7</value>
                        </entry>
                    </style>
                    <type>idol.nifi.media.processor.OpticalCharacterRecognition</type>
                </processors>
                <processors>
                    <id>1509ffbb-1d25-37c8-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4792.0</x>
                        <y>768.0</y>
                    </position>
                    <bundle>
                        <artifact>idol-nifi-framework</artifact>
                        <group>idol.nifi</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>IdolLicenseService</key>
<value>
    <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
    <name>IdolLicenseService</name>
</value>
                            </entry>
                            <entry>
<key>Entity</key>
<value>
    <name>Entity</name>
</value>
                            </entry>
                            <entry>
<key>EntityField</key>
<value>
    <name>EntityField</name>
</value>
                            </entry>
                            <entry>
<key>ResourceFiles</key>
<value>
    <name>ResourceFiles</name>
</value>
                            </entry>
                            <entry>
<key>AllowMultipleResults</key>
<value>
    <name>AllowMultipleResults</name>
</value>
                            </entry>
                            <entry>
<key>AllowOverlaps</key>
<value>
    <name>AllowOverlaps</name>
</value>
                            </entry>
                            <entry>
<key>CJKNormalization</key>
<value>
    <name>CJKNormalization</name>
</value>
                            </entry>
                            <entry>
<key>CaseNormalization</key>
<value>
    <name>CaseNormalization</name>
</value>
                            </entry>
                            <entry>
<key>CaseNormalizationBehavior</key>
<value>
    <name>CaseNormalizationBehavior</name>
</value>
                            </entry>
                            <entry>
<key>EnableComponents</key>
<value>
    <name>EnableComponents</name>
</value>
                            </entry>
                            <entry>
<key>EnableUniqueMatches</key>
<value>
    <name>EnableUniqueMatches</name>
</value>
                            </entry>
                            <entry>
<key>InlineResults</key>
<value>
    <name>InlineResults</name>
</value>
                            </entry>
                            <entry>
<key>MatchCase</key>
<value>
    <name>MatchCase</name>
</value>
                            </entry>
                            <entry>
<key>MatchWholeWord</key>
<value>
    <name>MatchWholeWord</name>
</value>
                            </entry>
                            <entry>
<key>MaxEntityLength</key>
<value>
    <name>MaxEntityLength</name>
</value>
                            </entry>
                            <entry>
<key>MaxMatchesPerDoc</key>
<value>
    <name>MaxMatchesPerDoc</name>
</value>
                            </entry>
                            <entry>
<key>MinScore</key>
<value>
    <name>MinScore</name>
</value>
                            </entry>
                            <entry>
<key>NonGreedyMatch</key>
<value>
    <name>NonGreedyMatch</name>
</value>
                            </entry>
                            <entry>
<key>PostProcessThreshold</key>
<value>
    <name>PostProcessThreshold</name>
</value>
                            </entry>
                            <entry>
<key>RedactedOutput</key>
<value>
    <name>RedactedOutput</name>
</value>
                            </entry>
                            <entry>
<key>RedactionOutputString</key>
<value>
    <name>RedactionOutputString</name>
</value>
                            </entry>
                            <entry>
<key>RedactionReplacementCharacter</key>
<value>
    <name>RedactionReplacementCharacter</name>
</value>
                            </entry>
                            <entry>
<key>RedactionType</key>
<value>
    <name>RedactionType</name>
</value>
                            </entry>
                            <entry>
<key>SearchFields</key>
<value>
    <name>SearchFields</name>
</value>
                            </entry>
                            <entry>
<key>SimpleOutput</key>
<value>
    <name>SimpleOutput</name>
</value>
                            </entry>
                            <entry>
<key>TangibleCharacters</key>
<value>
    <name>TangibleCharacters</name>
</value>
                            </entry>
                            <entry>
<key>TokenWithPunctuation</key>
<value>
    <name>TokenWithPunctuation</name>
</value>
                            </entry>
                            <entry>
<key>PostProcessingTask</key>
<value>
    <name>PostProcessingTask</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>IdolLicenseService</key>
<value>a2fafcb7-47ce-3fcd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Entity</key>
<value>pii/*</value>
                            </entry>
                            <entry>
<key>EntityField</key>
<value>PII</value>
                            </entry>
                            <entry>
<key>ResourceFiles</key>
<value>pii.xml</value>
                            </entry>
                            <entry>
<key>AllowMultipleResults</key>
<value>No</value>
                            </entry>
                            <entry>
<key>AllowOverlaps</key>
<value>false</value>
                            </entry>
                            <entry>
<key>CJKNormalization</key>
                            </entry>
                            <entry>
<key>CaseNormalization</key>
<value>None</value>
                            </entry>
                            <entry>
<key>CaseNormalizationBehavior</key>
<value>Default</value>
                            </entry>
                            <entry>
<key>EnableComponents</key>
<value>false</value>
                            </entry>
                            <entry>
<key>EnableUniqueMatches</key>
<value>false</value>
                            </entry>
                            <entry>
<key>InlineResults</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MatchCase</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MatchWholeWord</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MaxEntityLength</key>
<value>256</value>
                            </entry>
                            <entry>
<key>MaxMatchesPerDoc</key>
                            </entry>
                            <entry>
<key>MinScore</key>
                            </entry>
                            <entry>
<key>NonGreedyMatch</key>
<value>false</value>
                            </entry>
                            <entry>
<key>PostProcessThreshold</key>
<value>0.000</value>
                            </entry>
                            <entry>
<key>RedactedOutput</key>
<value>true</value>
                            </entry>
                            <entry>
<key>RedactionOutputString</key>
                            </entry>
                            <entry>
<key>RedactionReplacementCharacter</key>
<value>*</value>
                            </entry>
                            <entry>
<key>RedactionType</key>
<value>Replace</value>
                            </entry>
                            <entry>
<key>SearchFields</key>
<value>.*/ocr/block/text
.*/ocr/table/row/text
.*/HTML_RENDER/RENDER/text</value>
                            </entry>
                            <entry>
<key>SimpleOutput</key>
<value>false</value>
                            </entry>
                            <entry>
<key>TangibleCharacters</key>
                            </entry>
                            <entry>
<key>TokenWithPunctuation</key>
<value>false</value>
                            </entry>
                            <entry>
<key>PostProcessingTask</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Eduction</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0073e7</value>
                        </entry>
                    </style>
                    <type>idol.nifi.processor.Eduction</type>
                </processors>
                <processors>
                    <id>1976ae85-c4a1-3475-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4792.0</x>
                        <y>0.0</y>
                    </position>
                    <bundle>
                        <artifact>idol-nifi-framework</artifact>
                        <group>idol.nifi</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>KeyViewFilterService</key>
<value>
    <identifiesControllerService>idol.nifi.service.KeyViewFilterService</identifiesControllerService>
    <name>KeyViewFilterService</name>
</value>
                            </entry>
                            <entry>
<key>IdolLicenseService</key>
<value>
    <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
    <name>IdolLicenseService</name>
</value>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
<value>
    <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
    <name>DocumentRegistryService</name>
</value>
                            </entry>
                            <entry>
<key>RoutingScheme</key>
<value>
    <name>RoutingScheme</name>
</value>
                            </entry>
                            <entry>
<key>DiscardFileTypes</key>
<value>
    <name>DiscardFileTypes</name>
</value>
                            </entry>
                            <entry>
<key>Document</key>
<value>
    <name>Document</name>
</value>
                            </entry>
                            <entry>
<key>HTML</key>
<value>
    <name>HTML</name>
</value>
                            </entry>
                            <entry>
<key>Image</key>
<value>
    <name>Image</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>KeyViewFilterService</key>
<value>003133d1-7fb2-3a7f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>IdolLicenseService</key>
<value>a2fafcb7-47ce-3fcd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
                            </entry>
                            <entry>
<key>RoutingScheme</key>
<value>Custom</value>
                            </entry>
                            <entry>
<key>DiscardFileTypes</key>
                            </entry>
                            <entry>
<key>Document</key>
<value>${file.keyview.class:in('10','12','6','2','22'):or(${file.keyview.format:in('237','228','590','1322','1323','174','996','142','230','1025','1437','1436','1034','1222','1032','1002','1362','930','411','470','398','405','4','281','1005','1421','1381','377','434','1422','1074','16','13','69','1480','1042','1470','1471','6','1145','31','30','219','20','17','1240','14','415','218','976','21','331','1420','1089','1008','1010','328','393','942','332','28','329','1161','430','29','15','34','181','330','469','80','32','463','1082','1504','1501','488','37','36','222','297','298','1499','39','40','456','395','1090','135','134','1048','359','921','545','1019','1020','1021','1430','1149','350','1165','917','397','422','371','464','319','1435','1434','351','1142','1188','148','321','349','360','546','304','305','1164','366','87','42','1143','57','56','58','55','54','44','127','123','130','1392','1027','48','50','49','47','46','45','1','59','61','62','60','272','1500','12','64','65','1066','1059','491','1056','1064','1057','373','1071','66','412','1532','67','407','406','1111','226','227','432','1022','352','1052','1489','931','932','1526','1529','482','74','1360','1342','1356','1346','1355','1353','1354','72','2','1344','1077','1113','1017','1336','1329','1324','75','76','1343','1012','1006','437','1013','53','1112','1361','77','457','235','1024','445','1197','1015','1359','429','1023','1016','492','1386','213','214','1467','1007','1028','1014','1107','1201','84','1340','1341','1481','1030','1018','1352','1351','234','293','1368','1372','1369','1373','86','19','1029','173','108','90','215','88','451','490','11','89','102','1144','99','98','229','100','91','94','101','97','95','96','93','92','182','107','1206','204','1083','1419','1009','291','179','109','110','1038','391','452','489','1026','1345','423','1350','22','23')})}</value>
                            </entry>
                            <entry>
<key>HTML</key>
<value>${file.keyview.format:in('236','355','441')}</value>
                            </entry>
                            <entry>
<key>Image</key>
<value>${file.keyview.class:in('5','4'):or(${file.keyview.format:in('83','71')})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>KeyViewRouteOnFileType</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Document</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>HTML</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Image</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unknown</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0073e7</value>
                        </entry>
                    </style>
                    <type>idol.nifi.processor.KeyViewRouteOnFileType</type>
                </processors>
                <processors>
                    <id>1d237bb2-4d2d-3688-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4792.0</x>
                        <y>384.0</y>
                    </position>
                    <bundle>
                        <artifact>idol-nifi-framework</artifact>
                        <group>idol.nifi</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>IdolLicenseService</key>
<value>
    <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
    <name>IdolLicenseService</name>
</value>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
<value>
    <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
    <name>DocumentRegistryService</name>
</value>
                            </entry>
                            <entry>
<key>WKOOPPath</key>
<value>
    <name>WKOOPPath</name>
</value>
                            </entry>
                            <entry>
<key>Url</key>
<value>
    <name>Url</name>
</value>
                            </entry>
                            <entry>
<key>Clipped</key>
<value>
    <name>Clipped</name>
</value>
                            </entry>
                            <entry>
<key>ClipPageUsingCssSelect</key>
<value>
    <name>ClipPageUsingCssSelect</name>
</value>
                            </entry>
                            <entry>
<key>ClipPageUsingCssUnselect</key>
<value>
    <name>ClipPageUsingCssUnselect</name>
</value>
                            </entry>
                            <entry>
<key>CssSelectOnFailure</key>
<value>
    <name>CssSelectOnFailure</name>
</value>
                            </entry>
                            <entry>
<key>CssUnselectOnFailure</key>
<value>
    <name>CssUnselectOnFailure</name>
</value>
                            </entry>
                            <entry>
<key>PageTimeout</key>
<value>
    <name>PageTimeout</name>
</value>
                            </entry>
                            <entry>
<key>RenderFormat</key>
<value>
    <name>RenderFormat</name>
</value>
                            </entry>
                            <entry>
<key>FullPageRender</key>
<value>
    <name>FullPageRender</name>
</value>
                            </entry>
                            <entry>
<key>RenderQuality</key>
<value>
    <name>RenderQuality</name>
</value>
                            </entry>
                            <entry>
<key>BlockingFiltersDirectory</key>
<value>
    <name>BlockingFiltersDirectory</name>
</value>
                            </entry>
                            <entry>
<key>EnableJavascriptConsoleLogging</key>
<value>
    <name>EnableJavascriptConsoleLogging</name>
</value>
                            </entry>
                            <entry>
<key>CustomHeaderNames</key>
<value>
    <name>CustomHeaderNames</name>
</value>
                            </entry>
                            <entry>
<key>CustomHeaderValues</key>
<value>
    <name>CustomHeaderValues</name>
</value>
                            </entry>
                            <entry>
<key>DisableJavascript</key>
<value>
    <name>DisableJavascript</name>
</value>
                            </entry>
                            <entry>
<key>MaxRenderHeight</key>
<value>
    <name>MaxRenderHeight</name>
</value>
                            </entry>
                            <entry>
<key>MaxRenderWidth</key>
<value>
    <name>MaxRenderWidth</name>
</value>
                            </entry>
                            <entry>
<key>MaxRedirects</key>
<value>
    <name>MaxRedirects</name>
</value>
                            </entry>
                            <entry>
<key>MetadataIncludeTextPositions</key>
<value>
    <name>MetadataIncludeTextPositions</name>
</value>
                            </entry>
                            <entry>
<key>PageLoadTimeout</key>
<value>
    <name>PageLoadTimeout</name>
</value>
                            </entry>
                            <entry>
<key>ResourceUrlCantHaveRegex</key>
<value>
    <name>ResourceUrlCantHaveRegex</name>
</value>
                            </entry>
                            <entry>
<key>ResourceUrlMustHaveRegex</key>
<value>
    <name>ResourceUrlMustHaveRegex</name>
</value>
                            </entry>
                            <entry>
<key>SSLCheckCertificate</key>
<value>
    <name>SSLCheckCertificate</name>
</value>
                            </entry>
                            <entry>
<key>ScriptInactivityTimeout</key>
<value>
    <name>ScriptInactivityTimeout</name>
</value>
                            </entry>
                            <entry>
<key>MaxWaitForScripts</key>
<value>
    <name>MaxWaitForScripts</name>
</value>
                            </entry>
                            <entry>
<key>FailOnScriptTimeout</key>
<value>
    <name>FailOnScriptTimeout</name>
</value>
                            </entry>
                            <entry>
<key>UserAgent</key>
<value>
    <name>UserAgent</name>
</value>
                            </entry>
                            <entry>
<key>AuthSections</key>
<value>
    <name>AuthSections</name>
</value>
                            </entry>
                            <entry>
<key>CustomJSSections</key>
<value>
    <name>CustomJSSections</name>
</value>
                            </entry>
                            <entry>
<key>ErrorPageSections</key>
<value>
    <name>ErrorPageSections</name>
</value>
                            </entry>
                            <entry>
<key>FormsSections</key>
<value>
    <name>FormsSections</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>IdolLicenseService</key>
<value>a2fafcb7-47ce-3fcd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
                            </entry>
                            <entry>
<key>WKOOPPath</key>
<value>${idol.repository.resources.dir}/WKOOP/WKOOP.exe</value>
                            </entry>
                            <entry>
<key>Url</key>
<value>data:text/html,</value>
                            </entry>
                            <entry>
<key>Clipped</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ClipPageUsingCssSelect</key>
                            </entry>
                            <entry>
<key>ClipPageUsingCssUnselect</key>
                            </entry>
                            <entry>
<key>CssSelectOnFailure</key>
<value>SelectAll</value>
                            </entry>
                            <entry>
<key>CssUnselectOnFailure</key>
<value>SelectNone</value>
                            </entry>
                            <entry>
<key>PageTimeout</key>
<value>120s</value>
                            </entry>
                            <entry>
<key>RenderFormat</key>
<value>png</value>
                            </entry>
                            <entry>
<key>FullPageRender</key>
<value>true</value>
                            </entry>
                            <entry>
<key>RenderQuality</key>
<value>100</value>
                            </entry>
                            <entry>
<key>BlockingFiltersDirectory</key>
                            </entry>
                            <entry>
<key>EnableJavascriptConsoleLogging</key>
<value>true</value>
                            </entry>
                            <entry>
<key>CustomHeaderNames</key>
                            </entry>
                            <entry>
<key>CustomHeaderValues</key>
                            </entry>
                            <entry>
<key>DisableJavascript</key>
<value>false</value>
                            </entry>
                            <entry>
<key>MaxRenderHeight</key>
<value>100000</value>
                            </entry>
                            <entry>
<key>MaxRenderWidth</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>MaxRedirects</key>
<value>25</value>
                            </entry>
                            <entry>
<key>MetadataIncludeTextPositions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>PageLoadTimeout</key>
<value>40s</value>
                            </entry>
                            <entry>
<key>ResourceUrlCantHaveRegex</key>
                            </entry>
                            <entry>
<key>ResourceUrlMustHaveRegex</key>
                            </entry>
                            <entry>
<key>SSLCheckCertificate</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ScriptInactivityTimeout</key>
<value>0.5s</value>
                            </entry>
                            <entry>
<key>MaxWaitForScripts</key>
<value>30s</value>
                            </entry>
                            <entry>
<key>FailOnScriptTimeout</key>
<value>false</value>
                            </entry>
                            <entry>
<key>UserAgent</key>
<value>Autn-WKOOP</value>
                            </entry>
                            <entry>
<key>AuthSections</key>
                            </entry>
                            <entry>
<key>CustomJSSections</key>
                            </entry>
                            <entry>
<key>ErrorPageSections</key>
                            </entry>
                            <entry>
<key>FormsSections</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RenderHTML</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0073e7</value>
                        </entry>
                    </style>
                    <type>idol.nifi.processor.RenderHTML</type>
                </processors>
                <processors>
                    <id>826823dc-55bd-36d3-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4792.0</x>
                        <y>576.0</y>
                    </position>
                    <bundle>
                        <artifact>idol-nifi-framework</artifact>
                        <group>idol.nifi</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <config>
                        <annotationData></annotationData>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>IdolLicenseService</key>
<value>
    <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
    <name>IdolLicenseService</name>
</value>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
<value>
    <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
    <name>DocumentRegistryService</name>
</value>
                            </entry>
                            <entry>
<key>LuaScriptFile</key>
<value>
    <name>LuaScriptFile</name>
</value>
                            </entry>
                            <entry>
<key>LuaScriptFunction</key>
<value>
    <name>LuaScriptFunction</name>
</value>
                            </entry>
                            <entry>
<key>LuaScriptFunctionArguments</key>
<value>
    <name>LuaScriptFunctionArguments</name>
</value>
                            </entry>
                            <entry>
<key>RouteTo</key>
<value>
    <name>RouteTo</name>
</value>
                            </entry>
                            <entry>
<key>RouteReturnedTo</key>
<value>
    <name>RouteReturnedTo</name>
</value>
                            </entry>
                            <entry>
<key>RouteUntransferredTo</key>
<value>
    <name>RouteUntransferredTo</name>
</value>
                            </entry>
                            <entry>
<key>AdditionalOutputRelationships</key>
<value>
    <name>AdditionalOutputRelationships</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>IdolLicenseService</key>
<value>a2fafcb7-47ce-3fcd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
                            </entry>
                            <entry>
<key>LuaScriptFile</key>
<value>function handleBlock(blockElement, spanElementName)
    local blockText = ''

    local textElements = {blockElement:getElementsByXPath("./" .. spanElementName .. "/region/text") }

    for j, textElement in ipairs(textElements) do

        if(j &gt; 1) then
            blockText = blockText .. ' '
        end

        blockText = blockText .. textElement:getValue()
    end

    blockElement:addChild("text"):setValue(blockText)
end



function handler(ffdocument, session)

    local redactionRegions = {}

    ffdocument:modify({
        preAction = function(action)
            local metadata = action:getXmlMetadata()

            local ocrBlockElements = { metadata:getElementsByXPath("//ocr/block") } 
            for i,ocrBlockElement in ipairs(ocrBlockElements) do   
                handleBlock(ocrBlockElement, "line")
            end

            local ocrTableRowElements = { metadata:getElementsByXPath("//ocr/table/row") } 
            for i,ocrTableRowElement in ipairs(ocrTableRowElements) do   
                handleBlock(ocrTableRowElement, "cell")
            end

            local renderElements = { metadata:getElementsByXPath("//HTML_RENDER/RENDER") } 
            for i,renderElement in ipairs(renderElements) do
                handleBlock(renderElement, "node")
            end
        end
    })

end</value>
                            </entry>
                            <entry>
<key>LuaScriptFunction</key>
<value>handler</value>
                            </entry>
                            <entry>
<key>LuaScriptFunctionArguments</key>
<value>LuaFlowFileDocument,LuaProcessorSession</value>
                            </entry>
                            <entry>
<key>RouteTo</key>
<value>success</value>
                            </entry>
                            <entry>
<key>RouteReturnedTo</key>
<value>returned</value>
                            </entry>
                            <entry>
<key>RouteUntransferredTo</key>
                            </entry>
                            <entry>
<key>AdditionalOutputRelationships</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Eduction Pre Processing Lua</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>returned</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0073e7</value>
                        </entry>
                    </style>
                    <type>idol.nifi.processor.ExecuteDocumentLua</type>
                </processors>
                <processors>
                    <id>85893732-f85f-353d-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4792.0</x>
                        <y>192.0</y>
                    </position>
                    <bundle>
                        <artifact>idol-nifi-framework</artifact>
                        <group>idol.nifi</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>KeyViewExportService</key>
<value>
    <identifiesControllerService>idol.nifi.service.KeyViewExportService</identifiesControllerService>
    <name>KeyViewExportService</name>
</value>
                            </entry>
                            <entry>
<key>IdolLicenseService</key>
<value>
    <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
    <name>IdolLicenseService</name>
</value>
                            </entry>
                            <entry>
<key>OutputCharSet</key>
<value>
    <name>OutputCharSet</name>
</value>
                            </entry>
                            <entry>
<key>ForceOutputCharSet</key>
<value>
    <name>ForceOutputCharSet</name>
</value>
                            </entry>
                            <entry>
<key>UseDocumentColors</key>
<value>
    <name>UseDocumentColors</name>
</value>
                            </entry>
                            <entry>
<key>UseDocumentFontInfo</key>
<value>
    <name>UseDocumentFontInfo</name>
</value>
                            </entry>
                            <entry>
<key>NBSPEmptyCells</key>
<value>
    <name>NBSPEmptyCells</name>
</value>
                            </entry>
                            <entry>
<key>TableBorder</key>
<value>
    <name>TableBorder</name>
</value>
                            </entry>
                            <entry>
<key>TableBorderWidth</key>
<value>
    <name>TableBorderWidth</name>
</value>
                            </entry>
                            <entry>
<key>RasterizeFiles</key>
<value>
    <name>RasterizeFiles</name>
</value>
                            </entry>
                            <entry>
<key>VectorToRasterResX</key>
<value>
    <name>VectorToRasterResX</name>
</value>
                            </entry>
                            <entry>
<key>VectorToRasterResY</key>
<value>
    <name>VectorToRasterResY</name>
</value>
                            </entry>
                            <entry>
<key>GenerateURLs</key>
<value>
    <name>GenerateURLs</name>
</value>
                            </entry>
                            <entry>
<key>MaxMemUsage</key>
<value>
    <name>MaxMemUsage</name>
</value>
                            </entry>
                            <entry>
<key>SupportColumnHeadings</key>
<value>
    <name>SupportColumnHeadings</name>
</value>
                            </entry>
                            <entry>
<key>SupportRowHeadings</key>
<value>
    <name>SupportRowHeadings</name>
</value>
                            </entry>
                            <entry>
<key>SupportCellSpan</key>
<value>
    <name>SupportCellSpan</name>
</value>
                            </entry>
                            <entry>
<key>SupportRowSpan</key>
<value>
    <name>SupportRowSpan</name>
</value>
                            </entry>
                            <entry>
<key>SupportColumnWidth</key>
<value>
    <name>SupportColumnWidth</name>
</value>
                            </entry>
                            <entry>
<key>RemoveEmptyColumns</key>
<value>
    <name>RemoveEmptyColumns</name>
</value>
                            </entry>
                            <entry>
<key>RemoveEmptyRows</key>
<value>
    <name>RemoveEmptyRows</name>
</value>
                            </entry>
                            <entry>
<key>RowsBeforeSplit</key>
<value>
    <name>RowsBeforeSplit</name>
</value>
                            </entry>
                            <entry>
<key>OutputLanguageID</key>
<value>
    <name>OutputLanguageID</name>
</value>
                            </entry>
                            <entry>
<key>EnableEmptyRows</key>
<value>
    <name>EnableEmptyRows</name>
</value>
                            </entry>
                            <entry>
<key>SourceCharSet</key>
<value>
    <name>SourceCharSet</name>
</value>
                            </entry>
                            <entry>
<key>ForceSourceCharSet</key>
<value>
    <name>ForceSourceCharSet</name>
</value>
                            </entry>
                            <entry>
<key>CompressionQuality</key>
<value>
    <name>CompressionQuality</name>
</value>
                            </entry>
                            <entry>
<key>RasterGraphicType</key>
<value>
    <name>RasterGraphicType</name>
</value>
                            </entry>
                            <entry>
<key>VectorGraphicType</key>
<value>
    <name>VectorGraphicType</name>
</value>
                            </entry>
                            <entry>
<key>StyleSheetType</key>
<value>
    <name>StyleSheetType</name>
</value>
                            </entry>
                            <entry>
<key>SupportFontFace</key>
<value>
    <name>SupportFontFace</name>
</value>
                            </entry>
                            <entry>
<key>DisplayRelativeFontSize</key>
<value>
    <name>DisplayRelativeFontSize</name>
</value>
                            </entry>
                            <entry>
<key>SupportRFC1942Cols</key>
<value>
    <name>SupportRFC1942Cols</name>
</value>
                            </entry>
                            <entry>
<key>TabsToTables</key>
<value>
    <name>TabsToTables</name>
</value>
                            </entry>
                            <entry>
<key>MainTopHtml</key>
<value>
    <name>MainTopHtml</name>
</value>
                            </entry>
                            <entry>
<key>MainBottomHtml</key>
<value>
    <name>MainBottomHtml</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>KeyViewExportService</key>
<value>15495e9b-f513-315d-0000-000000000000</value>
                            </entry>
                            <entry>
<key>IdolLicenseService</key>
<value>a2fafcb7-47ce-3fcd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>OutputCharSet</key>
<value>UTF8</value>
                            </entry>
                            <entry>
<key>ForceOutputCharSet</key>
<value>true</value>
                            </entry>
                            <entry>
<key>UseDocumentColors</key>
<value>true</value>
                            </entry>
                            <entry>
<key>UseDocumentFontInfo</key>
<value>true</value>
                            </entry>
                            <entry>
<key>NBSPEmptyCells</key>
<value>false</value>
                            </entry>
                            <entry>
<key>TableBorder</key>
<value>BaseOnDocument</value>
                            </entry>
                            <entry>
<key>TableBorderWidth</key>
<value>0</value>
                            </entry>
                            <entry>
<key>RasterizeFiles</key>
<value>true</value>
                            </entry>
                            <entry>
<key>VectorToRasterResX</key>
<value>0</value>
                            </entry>
                            <entry>
<key>VectorToRasterResY</key>
<value>0</value>
                            </entry>
                            <entry>
<key>GenerateURLs</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MaxMemUsage</key>
<value>0</value>
                            </entry>
                            <entry>
<key>SupportColumnHeadings</key>
<value>true</value>
                            </entry>
                            <entry>
<key>SupportRowHeadings</key>
<value>true</value>
                            </entry>
                            <entry>
<key>SupportCellSpan</key>
<value>true</value>
                            </entry>
                            <entry>
<key>SupportRowSpan</key>
<value>true</value>
                            </entry>
                            <entry>
<key>SupportColumnWidth</key>
<value>true</value>
                            </entry>
                            <entry>
<key>RemoveEmptyColumns</key>
<value>false</value>
                            </entry>
                            <entry>
<key>RemoveEmptyRows</key>
<value>false</value>
                            </entry>
                            <entry>
<key>RowsBeforeSplit</key>
<value>50</value>
                            </entry>
                            <entry>
<key>OutputLanguageID</key>
<value>UNKNOWN</value>
                            </entry>
                            <entry>
<key>EnableEmptyRows</key>
<value>true</value>
                            </entry>
                            <entry>
<key>SourceCharSet</key>
<value>UTF8</value>
                            </entry>
                            <entry>
<key>ForceSourceCharSet</key>
<value>false</value>
                            </entry>
                            <entry>
<key>CompressionQuality</key>
<value>100</value>
                            </entry>
                            <entry>
<key>RasterGraphicType</key>
<value>JPEG</value>
                            </entry>
                            <entry>
<key>VectorGraphicType</key>
<value>JPEG</value>
                            </entry>
                            <entry>
<key>StyleSheetType</key>
<value>CSS_INLINE</value>
                            </entry>
                            <entry>
<key>SupportFontFace</key>
<value>true</value>
                            </entry>
                            <entry>
<key>DisplayRelativeFontSize</key>
<value>true</value>
                            </entry>
                            <entry>
<key>SupportRFC1942Cols</key>
<value>false</value>
                            </entry>
                            <entry>
<key>TabsToTables</key>
<value>false</value>
                            </entry>
                            <entry>
<key>MainTopHtml</key>
<value>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN"&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;$SUMMARY01&lt;/title&gt;
&lt;meta name="Author" content="$SUMMARY03" /&gt;
&lt;meta http-equiv="content-type" content="text/html; charset=$CHARSET" /&gt;
&lt;/head&gt;
&lt;body&gt;</value>
                            </entry>
                            <entry>
<key>MainBottomHtml</key>
<value>&lt;/body&gt;
&lt;/html&gt;</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>KeyViewExportToHtml</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0073e7</value>
                        </entry>
                    </style>
                    <type>idol.nifi.processor.KeyViewExportToHtml</type>
                </processors>
                <processors>
                    <id>b9fd247b-c891-31a6-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4792.0</x>
                        <y>1352.0</y>
                    </position>
                    <bundle>
                        <artifact>idol-nifi-media-nar</artifact>
                        <group>idol.nifi.media</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>IdolLicenseService</key>
<value>
    <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
    <name>IdolLicenseService</name>
</value>
                            </entry>
                            <entry>
<key>MediaService</key>
<value>
    <identifiesControllerService>idol.nifi.media.service.MediaService</identifiesControllerService>
    <name>MediaService</name>
</value>
                            </entry>
                            <entry>
<key>Regions</key>
<value>
    <name>Regions</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>IdolLicenseService</key>
<value>a2fafcb7-47ce-3fcd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>MediaService</key>
<value>b439233d-ea01-383f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Regions</key>
<value>${media.redaction.regions}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Redact Image</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0073e7</value>
                        </entry>
                    </style>
                    <type>idol.nifi.media.processor.Redaction</type>
                </processors>
                <processors>
                    <id>bedc8e70-2ecb-3793-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4792.0</x>
                        <y>960.0</y>
                    </position>
                    <bundle>
                        <artifact>idol-nifi-framework</artifact>
                        <group>idol.nifi</group>
                        <version>25.2.0-nifi1</version>
                    </bundle>
                    <config>
                        <annotationData></annotationData>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>IdolLicenseService</key>
<value>
    <identifiesControllerService>idol.nifi.service.IdolLicenseService</identifiesControllerService>
    <name>IdolLicenseService</name>
</value>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
<value>
    <identifiesControllerService>idol.nifi.service.DocumentRegistryService</identifiesControllerService>
    <name>DocumentRegistryService</name>
</value>
                            </entry>
                            <entry>
<key>LuaScriptFile</key>
<value>
    <name>LuaScriptFile</name>
</value>
                            </entry>
                            <entry>
<key>LuaScriptFunction</key>
<value>
    <name>LuaScriptFunction</name>
</value>
                            </entry>
                            <entry>
<key>LuaScriptFunctionArguments</key>
<value>
    <name>LuaScriptFunctionArguments</name>
</value>
                            </entry>
                            <entry>
<key>RouteTo</key>
<value>
    <name>RouteTo</name>
</value>
                            </entry>
                            <entry>
<key>RouteReturnedTo</key>
<value>
    <name>RouteReturnedTo</name>
</value>
                            </entry>
                            <entry>
<key>RouteUntransferredTo</key>
<value>
    <name>RouteUntransferredTo</name>
</value>
                            </entry>
                            <entry>
<key>AdditionalOutputRelationships</key>
<value>
    <name>AdditionalOutputRelationships</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>IdolLicenseService</key>
<value>a2fafcb7-47ce-3fcd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>DocumentRegistryService</key>
                            </entry>
                            <entry>
<key>LuaScriptFile</key>
<value>function getSpanRegion(rotationAngle, element, blockRegion)

    local regionElement = element:getFirstChild("region") or element

    if(( rotationAngle &gt;= 45 and rotationAngle &lt; 135) or ( rotationAngle &gt;= 225 and rotationAngle &lt; 315)) then
        local left = (blockRegion or regionElement):getAttribute("left")
        local width = (blockRegion or regionElement):getAttribute("width")
        local top = regionElement:getAttribute("top")
        local height = regionElement:getAttribute("height")
        return left, top, width, height
    else
        local left = regionElement:getAttribute("left")
        local width = regionElement:getAttribute("width")
        local top = (blockRegion or regionElement):getAttribute("top")
        local height = (blockRegion or regionElement):getAttribute("height")
        return left, top, width, height
    end
end


function addRedactionRegions(elements, elementsToRedact, sepsToRedact, redactionRegions, rotationAngle, blockRegion)
    for l,element in ipairs(elements) do
        if(elementsToRedact == nil or elementsToRedact[l] == true) then

            local left, top, width, height = getSpanRegion(rotationAngle, element, blockRegion);
            table.insert(redactionRegions, left.." "..top.." "..width.." "..height)

            if((sepsToRedact == nil or sepsToRedact[l] == true) and elements[l+1] ~= nil) then

                local nextLeft, nextTop, nextWidth, nextHeight = getSpanRegion(rotationAngle, elements[l+1], blockRegion)

                if( rotationAngle &gt;= 45 and rotationAngle &lt; 135) then
                    local sepTop = tonumber(top) + tonumber(height)
                    if(tonumber(nextTop) &gt; sepTop) then
                        local sepHeight = tonumber(nextTop) - sepTop;
                        table.insert(redactionRegions, left.." "..tostring(sepTop).." "..width.." "..tostring(sepHeight))
                    end
                elseif( rotationAngle &gt;= 135 and rotationAngle &lt; 225) then
                    local sepLeft = tonumber(nextLeft) + tonumber(nextWidth)
                    if(tonumber(left) &gt; sepLeft) then
                        local sepWidth = tonumber(left) - sepLeft;
                        table.insert(redactionRegions, tostring(sepLeft).." "..top.." "..tostring(sepWidth).." "..height)
                    end
                elseif( rotationAngle &gt;= 225 and rotationAngle &lt; 315) then
                    local sepTop = tonumber(nextTop) + tonumber(nextHeight)
                    if(tonumber(Top) &lt; sepTop) then
                        local sepHeight = sepTop - tonumber(top);
                        table.insert(redactionRegions, left.." "..tostring(sepTop).." "..width.." "..tostring(sepHeight))
                    end
                else --if( rotationAngle &gt;= 315 or rotationAngle &lt; 45)
                    local sepLeft = tonumber(left) + tonumber(width)
                    if(tonumber(nextLeft) &gt; sepLeft) then
                        local sepWidth = tonumber(nextLeft) - sepLeft;
                        table.insert(redactionRegions, tostring(sepLeft).." "..top.." "..tostring(sepWidth).." "..height)
                    end
                end
            end
        end
    end
end

function utf8.sub(s,i,j)
    i=utf8.offset(s,i)
    j=utf8.offset(s,j+1)-1
    return string.sub(s,i,j)
end

function handleBlock(blockElement, spanElementName, redactionRegions)
    local originalTextField = blockElement:getFirstChild("text")
    local redactedTextField = blockElement:getFirstChild("text_REDACTED")
    local piiElements = { blockElement:getElementsByXPath("PII") }

    for piiIndex,piiElement in ipairs(piiElements) do
           local piiValue = piiElement:getFirstChild("value"):getValue();
        piiElement:addChild("length"):setValue(tostring(utf8.len(piiValue)));
    end

    if( originalTextField ~= nil and redactedTextField ~= nil) then

        local spanElements = { blockElement:getElementsByXPath(spanElementName) }
        local spansToRedact = nil
        local originalText = originalTextField:getValue()
        local redactedText = redactedTextField:getValue()
        local angleElement = blockElement:getFirstChild("angle")
        local blockRotationAngle = 0
        if(angleElement) then
            blockRotationAngle = tonumber(angleElement:getValue())
        end

        local originalTextUtf8Length = utf8.len(originalText);
        local redactedTextUtf8Length = utf8.len(redactedText);

        if( originalTextUtf8Length == redactedTextUtf8Length ) then
            spansToRedact = {}
            local utf8CharOffset = 0

            for spanIndex,spanElement in ipairs(spanElements) do
                local regionElement = spanElement:getFirstChild("region")
                if(regionElement ~= nil) then
                    local spanText = regionElement:getFirstChild("text"):getValue()
                    local spanTextUtf8Length = utf8.len(spanText);
                    local spanRedactedText = utf8.sub(redactedText, 1 + utf8CharOffset, spanTextUtf8Length + utf8CharOffset)
                    local wordElements = { regionElement:getElementsByXPath("word") }

                    if(#wordElements &gt; 0) then
                        local wordsToRedact = {}
                        local sepsToRedact = {}

                        for wordIndex,wordElement in ipairs(wordElements) do
                            local wordText = wordElement:getValue()
                            local wordTextUtf8Length = utf8.len(wordText);
                            local wordStartOffset = utf8CharOffset;
                            local wordEndOffset = wordTextUtf8Length + utf8CharOffset;

                            local wordRedactedText = utf8.sub(redactedText, 1 + wordStartOffset, wordEndOffset)

                            if(wordText ~= wordRedactedText) then
                                wordsToRedact[wordIndex] = true
                                wordElement:setAttribute("redacted", "true")

                                for piiIndex,piiElement in ipairs(piiElements) do
                                    local piiOffset = tonumber(piiElement:getFirstChild("offset"):getValue());
                                    local piiLength = tonumber(piiElement:getFirstChild("length"):getValue());

                                    if(wordStartOffset &gt;= piiOffset and wordStartOffset &lt; (piiOffset + piiLength)) then
                                        local piiWordElement = piiElement:addChild("word");
                                         piiWordElement:setAttribute("top", wordElement:getAttribute("top"));
                                         piiWordElement:setAttribute("height", wordElement:getAttribute("height"));
                                         piiWordElement:setAttribute("left", wordElement:getAttribute("left"));
                                         piiWordElement:setAttribute("width", wordElement:getAttribute("width"));
                                         piiWordElement:setValue(wordElement:getValue());
                                    end
                                end
                            end

                            utf8CharOffset = utf8CharOffset + wordTextUtf8Length

                            local sepUtf8CharOffset = 1 + utf8CharOffset;

                            if(sepUtf8CharOffset &lt;= originalTextUtf8Length) then
                                local wordSep = utf8.sub(originalText, sepUtf8CharOffset, sepUtf8CharOffset)
                                local redactedWordSep = utf8.sub(redactedText, sepUtf8CharOffset, sepUtf8CharOffset)

                                if(wordSep ~= redactedWordSep) then
                                    sepsToRedact[wordIndex] = true
                                end

                                utf8CharOffset = utf8CharOffset + 1
                            end
                        end

                        if(next(wordsToRedact)) then
                            addRedactionRegions(wordElements, wordsToRedact, sepsToRedact, redactionRegions, blockRotationAngle, regionElement)
                            regionElement:addChild("text_REDACTED"):setValue(spanRedactedText)
                        end

                    else
                        if(spanText ~= spanRedactedText) then
                            spansToRedact[spanIndex] = true
                            spanElement:addChild("text_REDACTED"):setValue(spanRedactedText)
                        end

                        utf8CharOffset = utf8CharOffset + spanTextUtf8Length + 1
                    end
                end
            end

            for piiIndex,piiElement in ipairs(piiElements) do

                local piiRedactionRegions = {}
                local piiWordElements = { piiElement:getElementsByXPath("word") }
                addRedactionRegions(piiWordElements, nil, nil, piiRedactionRegions, blockRotationAngle, regionElement)
                if( #piiRedactionRegions ~= 0) then
                    piiElement:addChild("regions"):setValue(table.concat(piiRedactionRegions, ","))
                end
            end
            
            redactedTextField:remove()
        end

        addRedactionRegions(spanElements, spansToRedact, {}, redactionRegions, blockRotationAngle)
    end
    originalTextField:remove()

end


function handler(ffdocument, session)

    local redactionRegions = {}

    ffdocument:modify({
        preAction = function(action)
            local metadata = action:getXmlMetadata()

            local ocrBlockElements = { metadata:getElementsByXPath("//ocr/block") }
            for i,ocrBlockElement in ipairs(ocrBlockElements) do
                handleBlock(ocrBlockElement, "line", redactionRegions);
            end

            local ocrTableRowElements = { metadata:getElementsByXPath("//ocr/table/row") }
            for i,ocrTableRowElement in ipairs(ocrTableRowElements) do
                handleBlock(ocrTableRowElement, "cell", redactionRegions);
            end

            local renderElements = { metadata:getElementsByXPath("//HTML_RENDER/RENDER") }
            for i,renderElement in ipairs(renderElements) do
                handleBlock(renderElement, "node", redactionRegions);
            end
        end
    })

    if( #redactionRegions ~= 0) then
           ffdocument:setAttributes( { ["media.redaction.regions"] = table.concat(redactionRegions, ",") } )
    end

end</value>
                            </entry>
                            <entry>
<key>LuaScriptFunction</key>
<value>handler</value>
                            </entry>
                            <entry>
<key>LuaScriptFunctionArguments</key>
<value>LuaFlowFileDocument,LuaProcessorSession</value>
                            </entry>
                            <entry>
<key>RouteTo</key>
<value>success</value>
                            </entry>
                            <entry>
<key>RouteReturnedTo</key>
<value>returned</value>
                            </entry>
                            <entry>
<key>RouteUntransferredTo</key>
                            </entry>
                            <entry>
<key>AdditionalOutputRelationships</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Eduction Post Processing Lua</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>returned</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0073e7</value>
                        </entry>
                    </style>
                    <type>idol.nifi.processor.ExecuteDocumentLua</type>
                </processors>
                <processors>
                    <id>ef96a900-f3d3-3b22-0000-000000000000</id>
                    <parentGroupId>39e6b131-142f-328c-0000-000000000000</parentGroupId>
                    <position>
                        <x>4792.0</x>
                        <y>1152.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>media_redaction</key>
<value>
    <name>media_redaction</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>media_redaction</key>
<value>${media.redaction.regions:isNull():not()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Route To Redact Image If Required</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>media_redaction</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
            </contents>
            <name>Universal Redaction</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>05/05/2021 11:23:00 BST</timestamp>
</template>
